<div class="col-md-6 col-md-offset-3">
  <div class="new-book-form">
<h1>Edit Book</h1>
<%= simple_form_for @book ,:html => {:multipart => true} do |f| %>
  <%= f.select :category_id,@categories %>
  <%= f.file_field :book_img %>
  <%= f.input :title,label:"Title" %>
  <%= f.input :price,label:"Price" %>
  <%= f.input :author,label:"Author" %>
  <%= f.input :condition,label:"Condition" %>
  <%= f.input :bookclass,lable:"Class" %>
  <%= f.input :bookedition,label:"Edition" %>
  <%= f.input :description,label:"description" %>
  <%= f.input :ISBN,label:"ISBN" %>
  <%= f.button :submit ,:class => 'btn-custom2'%>
<% end %>
  </div></div>