<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:original),:class => "book-show" %>
  </div>
  <div class="col-md-8">
    <h2>Book title:<%=  @book.title  %></h2>
    <h3>Book price:<%= @book.price %></h3>
    <p>Book author:<%= @book.author %></p>
    <p>Book condition:<%= @book.condition %></p>
    <p>Book class:<%= @book.bookclass %></p>
    <p>Book edition:<%= @book.bookedition %></p>
    <p>Book description:<%= @book.description %></p>
    <p>Book ISBN:<%= @book.ISBN %></p>
    <p>Book seller:<%= @book.seller.username %></p>
  </div>
</div>


<div class="links btn-group">

<%= link_to 'Back',list_path,class:"btn btn-custom" %>
<% if user_signed_in? %>
  <% if current_user.role == "Buyer" %>
    <% if Shoppingcart.where(:user_id => current_user.id, :book => @book.id).blank?  %>
      <%= link_to 'Add To Cart', {:controller => "shoppingcart", :action => "create", :item => @book}, method: :post, class:"btn btn-custom"%>
    <% end %>
  <% end %>
<% end %>
</div>